<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!-- appender : 로그 메시지 기록 위치(console, file, database) -->
<!-- layout : 로그 메시지 형식(PatternLayout) -->
<!-- level : 로깅 이벤트 등급(debug < info < trace < warn < error < fatal) -->
<!-- logger : 실제 로깅 명령을 프레임워크에게 전달하는 전달자 -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.springframework.test" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.web" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="kr.or.ddit" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.sqltiming" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.resultsettable" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
<!--     <Logger name="java.sql.Connection" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Console"/> -->
<!--     </Logger> -->
<!--     <Logger name="java.sql.PreparedStatement" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Console"/> -->
<!--     </Logger> -->
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>



